*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
      background: linear-gradient(106.43deg, #522fd4, #6bdcff 95.12%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.container{
  width:705px;
  background-color: #ffffff;;
  padding:18px;
  border-radius:35px;
  height: 623px;
}

h1{
    text-align: center;
    background: linear-gradient(106.43deg, #522fd4, #6bdcff 95.12%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
        padding: 27px
}

table{
  width:100%;
  border-collapse:collapse;
  margin-bottom:15px;
}

th, td{
  border:1px solid #ddd;
  padding:10px;
  text-align:center;
}

input{
  width:100px;
  padding:6px 8px;
  border:1px solid #ccc;
  border-radius:5px;
  text-align:center;
}

button{
  padding:10px 16px;
  font-size:16px;
  border:none;
  border-radius:8px;
  background-color:blue ;
  color:#fff;
  cursor:pointer;
  
}

.results{
  background: linear-gradient(106.43deg, #522fd4, #6bdcff 95.12%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   padding-top: 10px;
}



.azmatafridi{
  font-size: 17px;
   background: linear-gradient(106.43deg, #522fd4, #6bdcff 95.12%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }
  button{
      width: 80vw;
      display: block;
      margin:  14px  10px;
      font-size: 20px;
  }
}

